<!DOCTYPE html>
<html>

<head>
    <title> BUSCAR PARTIDA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style_menu.css">
    <link href="css/botones.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
</head>

<body>


    <div class="container">
        <div class="cabecera">
            <h1>BUSCAR PARTIDA</h1>
        </div>
        <form action="/read" method="post">
            <div class="boton-menu">
                <input class="frase-ingreso" type="text" id="pin" name="pin" placeholder="Ingrese PIN de partida:">
            </div>
            <div class="boton-menu">
                <input class="frase-ingreso" type="text" id="alias" name="alias" placeholder="Ingrese un ALIAS:">
            </div>
            <input class="boton" type="submit" id="btnBuscarPartida" value="Buscar">
        </form>
        <a href="/menu2"><input class="boton" type="button" value="Cancelar"></a>

    </div>


</body>

</html>