<!DOCTYPE html>
<html>
    <head>
    <title> MENU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style_menu.css">
    <link href="css/botones.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container" >
            <div class="cabecera">
                <h1>MENU</h1>
            </div>
            <div class="boton-menu">
             <a href="/menu2"><input class="boton" type="button" value="Iniciar Partida"></a> 
            </div>
      
            <div>
                <a href="/instrucciones"><input class="boton" type="button" value="Instrucciones"></a> 
            </div>
      
            
            
        </div>
    </body>
</html>