<!DOCTYPE html>
<html>
    <head>
    <title> PARTIDA LLENA?</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style_menu.css">
    <link href="css/botones.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <body>
        <div class="container">
            <div class="cabecera">
                <h2>PARTIDA LLENA o INEXISTENTE</h2>                    
            </div>
            <a href="/"><input class="boton" type="button" value="Volver"></a> 
        </div>
    </body>